<div id="popup2" class="popup hidden">
    <div class="popup-window">
        <form>
            <div id="popupw" class="popup-inner">
                <div class="popup-header">
                    <div class="header-title">
                        Penambahan Kuliah
                    </div>
                </div>
                <div class="popup-content">
                    <div class="row">
                        <div class="popup-form">
                            <div class="form-input">
                                <input class="text-box" type="text" placeholder="Kode Kuliah">
                            </div>
                        </div>
                        <div class="popup-form">
                            <div class="form-input">
                                <input class="text-box" type="text" placeholder="Ruangan">
                            </div>
                        </div>
                        <div class="popup-form">
                            <div class="form-input">
                                <input class="text-box" type="text" placeholder="Start Date">
                                <p>Example : 31/12/2016 23:59</p>
                            </div>
                        </div>
                        <div class="popup-form">
                            <div class="form-input">
                                <input class="text-box" type="text" placeholder="End Date">
                                <p>Example : 31/12/2016 23:59</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup-footer">
                    <div class="popup-form popup--submit">
                        <input type="submit" class="btn btn--submit btn--inline" value="Submit">
                    </div>
                </div>
                <div class="popup-close">
                    <i id="btnClosePopUp" class="material-icons btn--icon">close</i>
                </div>
            </div>
        </form>
    </div>
</div>
